<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Syarikat Anak PKNS">
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
        <div class="menu-panel">
            <div  ng-click="navigateTo('app.cms')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/cms.png" class="user-img"></i>
              <p>Sistem Pengurusan Aduan CMS</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.estk')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/estk.png" class="user-img"></i>
              <p>Sistem Tapisan Keutuhan</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.permohonanProgram')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/commend.png" class="user-img"></i>
              <p>Permohonan Program Pendidikan Masyarakat</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.smkmaca')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/smkmaca.png" class="user-img"></i>
              <p>Sistem Maklumat Kursus MACA</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.aduanPentadbir')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/webmaster.png" class="user-img"></i>
              <p>Aduan Pentadbir Portal</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.singleSignon')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/perkhidmatan/signon.png" class="user-img"></i>
              <p>Single Sign On</p>
            </div>
        </div>

    </ion-content><!--Menu dashboard section-->
</ion-view>
